{% extends 'index.html' %}

{% block header %}
<link rel="stylesheet" href="./static/css/worksample/weather.css">
{% endblock %}
{% block title %}天气预报{% endblock %}

{% block content %}
<div class="base">
    <div class="weather">
        <div class="sunny"></div>
        <div class="cloudy"></div>
        <div class="rainy"></div>
        <div class="snowy"></div>
        <div class="rainbow"></div>
        <div class="starry"></div>
        <div class="stormy"></div>
    </div>
</div>
{% endblock %}