.curtain-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.curtain-btn span {
    color: #fff;
    margin-right: 10px;
    font-size: 15px;
}

.tgl {
    display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
    background: none;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
    background: none;
}

.tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
}

.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}

.tgl + .tgl-btn:after {
    left: 0;
}

.tgl + .tgl-btn:before {
    display: none;
}

.tgl:checked + .tgl-btn:after {
    left: 50%;
}

.tgl-light + .tgl-btn {
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

.tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.tgl-light:checked + .tgl-btn {
    background: #9FD6AE;
}

.tgl-ios + .tgl-btn {
    background: #fbfbfb;
    border-radius: 2em;
    padding: 2px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid #e8eae9;
}

.tgl-ios + .tgl-btn:after {
    border-radius: 2em;
    background: #fbfbfb;
    -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.tgl-ios + .tgl-btn:active {
    -webkit-box-shadow: inset 0 0 0 2em #e8eae9;
    box-shadow: inset 0 0 0 2em #e8eae9;
}

.tgl-ios + .tgl-btn:active:after {
    padding-right: .8em;
}

.tgl-ios:checked + .tgl-btn {
    background: #86d993;
}

.tgl-ios:checked + .tgl-btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.tgl-ios:checked + .tgl-btn:active:after {
    margin-left: -.8em;
}
.curtain{
    width: 100%;
    height: 80%;
}
.barrage {
    position: relative;
    width:100%;
    height:100%;
    overflow: hidden;
    display: none;
}

.barrage div {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 25px;
    position: absolute;
}

.btn {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn .text {
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px;
    border: 1px solid #c8cccf;
    color: #6a6f77;
    outline: none;
    padding-left: 10px;
}

.submit {
    outline: none;
    width: 60px;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #4CAF50;
    background:#4CAF50;
    color:#fff;
    margin-left: 10px;
}
.submit:hover{
    background:red;
    border: 1px solid red;
}