{% extends 'index.html' %}

{% block header %}
    <link rel="stylesheet" href="./static/css/public/owl.carousel.css">
    <link rel="stylesheet" href="./static/css/public/contactme.css">
    <script type="text/javascript" src="./static/js/public/owl.carousel.js"></script>
    <script type="text/javascript" src="./static/js/public/easing.js"></script>
    <script type="text/javascript" src="./static/js/public/contactme.js"></script>
{% endblock %}
{% block title %}个人简历{% endblock %}

{% block content %}

    <!-- container -->
    <!-- header -->
    <div id="home" class="header">
        <div class="container">
            <!-- top-hedader -->
            <div class="top-header">
                <!-- /logo -->
                <div class="top-nav">
                    <div class="navigation">
                        <div class="navigation-left">
                            我的简历
                        </div>
                        <div class="navigation-right">
                            <nav class="link-effect-3" id="link-effect-3">
                                <ul class="nav1 nav nav-wil">
                                    <li><a class="scroll" href="#about">关于我</a></li>
                                    <li><a class="scroll" href="#services">我的技能</a></li>
                                    <li><a class="scroll" href="#work">工作经历</a></li>
                                    <li><a class="scroll" href="#blogs">完成项目</a></li>
                                    <li><a class="scroll" href="#contact">联系我</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <!-- /top-hedader -->
                </div>
                <div class="banner-info">
                    <div class="col-md-7 header-right" id="top">
                        <h1>Hi！</h1>
                        <h6>您好，很高兴认识您！</h6>
                        <ul class="address">
                            <li>
                                <ul class="address-text">
                                    <li><b>姓名：</b></li>
                                    <li>任雷雷</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="address-text">
                                    <li><b>联系电话：</b></li>
                                    <li>13120527020</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="address-text">
                                    <li><b>籍贯：</b></li>
                                    <li>陕西西安</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="address-text">
                                    <li><b>邮箱：</b></li>
                                    <li>421796896@qq.com</li>
                                </ul>
                            </li>
                            <li>
                                <ul class="address-text">
                                    <li><b>个人网页：</b></li>
                                    <li><a href="http://www.renlei.duapp.com" target="_blank">renlei.duapp.com</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-5 header-left">
                        <img src="./static/images/contactme/me.jpg" alt="">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- about -->
    <div id="about" class="about" style="background:rgba(0,0,0,0.7)">
        <div class="container">
            <div class="service-head one text-center " style="margin-bottom: 40px;">
                <h4 class="work-skills">ABOUT ME</h4>
                <h3>关于<span>我</span></h3>
                <span class="border two"></span>
            </div>


            <div class="col-md-6 about-left">
                <div id="owl-demo1" class="owl-carousel owl-carousel2">

                    <div class="item">
                        <div class="about-left-grid">
                            <h3>您好，我是<span>任雷雷</span></h3>
                            <p>
                                立志要如山，行道要如水。不如山，不能坚定;不如水，不能曲达。
                                故而在工作当中，积极的人在每一次忧患中都看到一个机会，而消极的人则在每个机会都看到某种忧患，
                                因此在一个团队当中，不要总是要求别人给我什么，要想我能为别人做什么。
                            </p>
                            <ul>
                                <li><a class="a-btn-a scroll" href="#work">工作经历</a></li>
                                <li><a class="a-btn-h scroll" href="#home">联系方式</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="about-left-grid">
                            <h3>您好，我是<span>任雷雷</span></h3>
                            <p>总结的力量是巨大的，它让人们的认识得到提高，让精神得到升华，让人不再重复相同的错误，
                                让人生前进一大步。但不可否认的是，总有一些人，无论在工作还是生活中，不善于甚至于不知道总结，
                                因此，不断地重复着往日的错误，他们只能在原地呆傻地踏步不前，愚而无措，难以改变命运的洗刷。</p>
                            <ul>
                                <li><a class="a-btn-a scroll" href="#work">工作经历</a></li>
                                <li><a class="a-btn-h scroll" href="#home">联系方式</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="about-left-grid">
                            <h3>您好，我是<span>任雷雷</span></h3>
                            <p>
                                一个有信念者所开发出的力量，大于九十九个只有兴趣者。现实中，大多数人想要改造这个世界，但却罕有人想改造自己。
                                人性最可怜的就是：我们总是梦想着天边的一座奇妙的玫瑰园，而不去欣赏今天就开在我们窗口的玫瑰。所以，在人生的旅途当中
                                行动是治愈恐惧的良药，而犹豫、拖延将不断滋养恐惧。
                            </p>
                            <ul>
                                <li><a class="a-btn-a scroll" href="#work">工作经历</a></li>
                                <li><a class="a-btn-h scroll" href="#home">联系方式</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 about-right">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <!-- /about -->
    <!-- services -->
    <div id="services" class="services">
        <div class="container">
            <div class="service-head one text-center ">
                <h4 class="work-skills">WHAT I DO</h4>
                <h3>我的<span>技能</span></h3>
                <span class="border two"></span>
            </div>
            <!-- services-grids -->
            <div class="wthree_about_right_grids w3l-agile">
                <div class="col-md-6 wthree_about_right_grid">
                    <div class="col-xs-4 wthree_about_right_grid_left">
                        <div class="hvr-rectangle-in">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </div>
                    </div>
                    <div class="col-xs-8 wthree_about_right_grid_right">
                        <h4><span class="name-left">HTML（精通）</span></h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                            </div>
                            <span class="value-right">95%</span>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 wthree_about_right_grid">
                    <div class="col-xs-4 wthree_about_right_grid_left">
                        <div class="hvr-rectangle-in">
                            <i class="glyphicon glyphicon-cog"></i>
                        </div>
                    </div>
                    <div class="col-xs-8 wthree_about_right_grid_right">
                        <h4><span class="name-left">css（精通）</span></h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success progress-bar-striped active"
                                 role="progressbar"
                                 aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                            </div>
                            <span class="value-right">95%</span>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 wthree_about_right_grid">
                    <div class="col-xs-4 wthree_about_right_grid_left">
                        <div class="hvr-rectangle-in">
                            <i class="glyphicon glyphicon-leaf"></i>
                        </div>
                    </div>
                    <div class="col-xs-8 wthree_about_right_grid_right">
                        <h4><span class="name-left">javascript（精通）</span></h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-3 progress-bar-striped active" role="progressbar"
                                 aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                            </div>
                            <span class="value-right">95%</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 wthree_about_right_grid">
                    <div class="col-xs-4 wthree_about_right_grid_left">
                        <div class="hvr-rectangle-in">
                            <i class="glyphicon glyphicon-star"></i>
                        </div>
                    </div>
                    <div class="col-xs-8 wthree_about_right_grid_right">
                        <h4><span class="name-left">jQuery（精通）</span></h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped active"
                                 role="progressbar"
                                 aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
                            </div>
                            <span class="value-right">95%</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 wthree_about_right_grid">
                    <div class="col-xs-4 wthree_about_right_grid_left">
                        <div class="hvr-rectangle-in">
                            <i class="glyphicon glyphicon-flash"></i>
                        </div>
                    </div>
                    <div class="col-xs-8 wthree_about_right_grid_right">
                        <h4><span class="name-left">vue2.X（熟练）</span></h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
                                 aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                            </div>
                            <span class="value-right">75%</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-6 wthree_about_right_grid">
                    <div class="col-xs-4 wthree_about_right_grid_left">
                        <div class="hvr-rectangle-in">
                            <i class="glyphicon glyphicon-thumbs-up"></i>
                        </div>
                    </div>
                    <div class="col-xs-8 wthree_about_right_grid_right">
                        <h4><span class="name-left">django1.11.X（熟练）</span></h4>
                        <div class="progress">
                            <div class="progress-bar progress-bar-4 progress-bar-striped active" role="progressbar"
                                 aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:75%">
                            </div>
                            <span class="value-right">75%</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- services-grids -->
        </div>
    </div>
    <!-- services -->
    <!--work-experience-->
    <div id="work" class="work" style="background:rgba(23, 20, 20, 0.8);">
        <div class="container">
            <div class="service-head text-center">
                <h4 class="work-skills">WHAT I DID</h4>
                <h3 style="color: #fff">工作<span>经历</span></h3>
                <span class="border one"></span>
            </div>
            <div class="time-main w3l-agile">
                <div class="col-md-6 year-info">
                    <ul class="year">
                        <li>2014</li>
                        <li>2016</li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
                <ul class="col-md-6 timeline">
                    <li>
                        <div class="timeline-badge info"><i class="glyphicon glyphicon-briefcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">上海宇越信息技术有限公司</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    2014年3月开始在上海宇越信息技术有限公司工作，该公司主要从事计算机信息科技、电子科技领域内的技术开发、技术咨询、技术服务、技术转让，计算机网络工程施工，网页设计及开发，
                                    计算机软件开发，计算机设备及配件维修，计算机信息系统集成，电子产品、电气设备、计算机、软件及辅助设备。
                                </p>
                                <p>
                                    我的职责是：
                                    1、负责公司项目产品的前端开发工作；
                                    2、配合产品经理和设计师实现前端界面的需求开发；
                                    3、持续改进当前产品的前端功能，优化性能，改善访问体验，保证在不同浏览器下的兼容性；
                                    4、配合市场和运营，更好的推广、优化产品;
                                    5、Web与移动互联网前沿技术研究与新技术调研；
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge danger"><i class="glyphicon glyphicon-briefcase"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">上海华铭智能终端设备股份有限公司</h4>
                            </div>
                            <div class="timeline-body">
                                <p>
                                    2016年11月开始至今，在上海华铭智能终端设备股份有限公司工作，该公司专业轨道交通、快速公交（BRT）等各
                                    个领域自动售检票系统终端设备的自主研发、制造与销售，以及场馆、景点票务与门禁系统的系统集成、设备供货与技术服务。
                                    公司产品主要包括自动售票机、自动检票机、自助查询机、自动补票机、票房售票机、编码分拣机等多种系列。
                                </p>
                                <p>
                                    我的职责是：
                                    1、负责公司项目AFC售检票系统的开发；
                                    2、配合产品经理和设计师实现该系统的前端工作；
                                    3、配合后端人员制定数据接口，完成前后端数据交互；
                                    4、优化代码结构并保持良好的兼容性；
                                    5、测试该系统在不同浏览器下的稳定性和兼容性；
                                    6、根据客户需求，对该系统的功能进行升级；
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--//work-experience-->
    <!-- //portfolio -->
    <!-- top-grids -->
    <div class="blog" id="blogs">
        <div class="container">
            <div class="service-head text-center">
                <h4 class="work-skills">MY WORKS</h4>
                <h3>完成<span>项目</span></h3>
                <span class="border one"></span>
            </div>
            <div class="news-grid w3l-agile">
                <div class="col-md-6 news-img">
                    <a href="#" data-toggle="modal" data-target="#myModal1"> <img
                            src="./static/images/contactme/qing.gif" alt=" "
                            class="img-responsive"></a>
                </div>
                <div class="col-md-6 news-text">
                    <h3><a href="#" data-toggle="modal" data-target="#myModal1">
                        迪卡司设计</a></h3>
                    <p>这个项目是给深圳迪卡司文化传播有限公司做的官网，
                        该公司是以平面设计为主要业务，其公司的宗旨是“乐享艺术，创意有你”。</p>
                    <a href="#" data-toggle="modal" data-target="#myModal1"
                       class="read hvr-shutter-in-horizontal">项目详情</a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="news-grid">
                <div class="col-md-6 news-text two">
                    <h3><a href="#" data-toggle="modal" data-target="#myModal2">伯通通讯</a></h3>
                    <p>一款为上市企业内部的通讯系统，该系统提供的各种工作应用，
                        例如日志功能，审批，签到，公告等工作模块，便于公司内部交流。</p>
                    <a href="#" data-toggle="modal" data-target="#myModal2" class="read hvr-shutter-in-horizontal">
                        项目详情</a>
                </div>
                <div class="col-md-6 news-img two">
                    <a href="#" data-toggle="modal" data-target="#myModal2">
                        <img src="./static/images/contactme/b2.jpg" alt=" " class="img-responsive"></a>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="news-grid">
                <div class="col-md-6 news-img">
                    <a href="#" data-toggle="modal" data-target="#myModal3">
                        <img src="./static/images/contactme/train.jpg" alt=" " class="img-responsive"></a>
                </div>
                <div class="col-md-6 news-text">
                    <h3><a href="#" data-toggle="modal" data-target="#myModal3">松江有轨AFC售检票系统</a></h3>
                    <p>这是一款为上海松江有轨电车项目开发的，用于有轨电车运营管理的企业内部后台管理系统。这块系统实现了对有轨电车实时化、智能化的管理，有效的保证了电车的正常运营，增加了乘客的舒适度和快捷感。</p>
                    <a href="#" data-toggle="modal" data-target="#myModal3"
                       class="read hvr-shutter-in-horizontal">项目详情</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- top-grids -->
    <!-- /blog-pop-->
    <div class="modal ab fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog about" role="document">
            <div class="modal-content about">
                <div class="modal-header">
                    <button type="button" class="close ab" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body about">
                    <div class="about">
                        <div class="about-inner about-box">
                            <img src="./static/images/contactme/qing.gif" alt="about"/>
                            <h4 class="tittle">迪卡司设计</h4>
                            <div class="content-text">
                                <h4>项目结构：</h4>
                                <p>
                                    1、使用jQuery框架，使用jQuery-UI组件库中部分功能进行快速开发。<br>
                                    2、项目采用ajax进行前后台数据交互。<br>
                                    3、采用animate.css完成各种样式动画效果。<br>
                                    4、使用阿里矢量图标库。
                                </p>
                                <h4>技术要求：</h4>
                                <p>
                                    1、运用HTML5语义化标签+CSS3新特性进行页面布局，实现页面的动态效果。<br>
                                    2、将运用js面向对象程序设计，提高代码的清晰度和代码质量，使得代码更健壮。<br>
                                    3、运用ajax与后台接口对接，进行数据交互，进行页面渲染。<br>
                                    4、使用wow.js、owl.carousel.js等插件某些功能的逻辑处理和某些页面的动态效果。<br>
                                    5、运用gulp进行代码的整理和压缩。
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal ab fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog about" role="document">
            <div class="modal-content about">
                <div class="modal-header">
                    <button type="button" class="close ab" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body about">
                    <div class="about">
                        <div class="about-inner about-box">
                            <img src="./static/images/contactme/b2.jpg" alt="about"/>
                            <h4 class="tittle">伯通通讯</h4>
                            <div class="content-text">
                                <h4>项目结构：</h4>
                                <p>
                                    1、使用bootstrap框架，使用bootstrap组件库中部分功能进行快速开发。<br>
                                    2、项目采用ajax进行前后台数据交互。<br>
                                    3、采用vivify.css完成各种样式动画效果。<br>
                                    4、使用阿里矢量图标库以及bootstrap自带的图标库。
                                </p>
                                <h4>技术要求：</h4>
                                <p>
                                    1、运用bootstrap栅格系统特性进行页面布局，实现响应式布局，提高代码的清晰度和代码质量，<br>
                                    2、使用css3弹性布局快速实现页面的构建。<br>
                                    3、运用ajax与后台接口对接，进行数据交互，进行页面渲染。<br>
                                    4、使用easing.js、move.js实现某些功能的逻辑处理和某些页面的动态效果。<br>
                                    5、运用gulp进行代码的整理和压缩。
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal ab fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog about" role="document">
            <div class="modal-content about">
                <div class="modal-header">
                    <button type="button" class="close ab" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body about">
                    <div class="about">
                        <div class="about-inner about-box">
                            <img src="./static/images/contactme/train.jpg" alt="about"/>
                            <h4 class="tittle">松江有轨AFC售检票系统</h4>
                            <div class="content-text">
                                <h4>项目结构：</h4>
                                <p>
                                    1、采用easyui框架，使用easyui提供的组件的功能进行，页面快速开发。<br>
                                    2、该项目采用WebSocket进行前后台数据交互。<br>
                                    3、采用echarts.js完成各类图标的绘制。<br>
                                    4、在高并发情况下，保证系统能够及时的完成数据处理。
                                </p>
                                <h4>技术要求：</h4>
                                <p>
                                    1、运用easyui提供的各类组件进行页面布局，实现页面的大部分功能。<br>
                                    2、使用css3弹性布局，完成页面的构建。<br>
                                    3、运用WebSocket与后台接口对接，进行数据交互，进行页面渲染。<br>
                                    4、使用echart.js绘制柱形图、饼形图。<br>
                                    5、使用canvasAPI完成车站、设备的布局。
                                    6、运用gulp进行代码的整理和压缩。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //blog-pop-->
    <!-- /header -->
    <div class="footer" id="contact">
        <div class="container">

            <div class="service-head one text-center">
                <h4 class="work-skills">CONTACT ME</h4>
                <h3>联系方式</h3>
                <span class="border two"></span>
                <div class="contact-box">
                    <p>姓名：任雷雷</p>
                    <p>电话：13120527020</p>
                    <p>邮箱：421796896@qq.com</p>
                </div>

            </div>

            <div class="copy_right text-center">
                <p>&copy; 2018 Preface . All rights reserved</p>
                <ul class="social-icons two">
                    <li><a class="scroll" href="#home"> </a></li>
                    <li><a class="scroll" href="#about" class="fb"> </a></li>
                    <li><a class="scroll" href="#services" class="in"> </a></li>
                    <li><a class="scroll" href="#work" class="dott"> </a></li>
                    <li><a class="scroll" href="#blogs"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 楼梯效果-->
    <ul class="stairs" id="stairs">
        <li class="active"><a class="scroll" href="#home">顶层</a></li>
        <li><a class="scroll" href="#about">二层</a></li>
        <li><a class="scroll" href="#services">三层</a></li>
        <li><a class="scroll" href="#work">四层</a></li>
        <li><a class="scroll" href="#blogs">五层</a></li>
        <li><a class="scroll" href="#contact">底层</a></li>
    </ul>
    <!-- 回到顶部 -->
    <a href="#home" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

{% endblock %}