{% extends 'index.html' %}

{% block header %}
    <link rel="stylesheet" href="./static/css/gameworks/spirit.css">
    <script type="text/javascript" src="./static/js/gameworks/spirit.js"></script>
{% endblock %}
{% block title %}精灵图{% endblock %}

{% block content %}
    <div class="base">
        <div class="draw-box">
            <div class="draw-target"></div>
            <div class="draw-target"></div>
            <div class="draw-target"></div>
            <div class="draw-target"></div>
            <div class="draw-target"></div>
            <div class="draw-target"></div>
            <div class="draw-target"></div>
            <div class="draw-target"></div>
        </div>
    </div>
{% endblock %}